/* style.css */
div{
    background: #eee;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
}

h1{
    /*code here*/
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 15px;
}

p{
    /*code here*/
    line-height: 30px;
    /*text-align: justify;*/
    word-break: break-all;
}
